<h1>About</h1>
<p>Corona struck and there was nothing left to do but 
    entertain oneself through making a dumb app such as 
    this that documents the creation of imaginary chartacters
    conjured up over weeks of isolation. 
</p>