{{#each personas}}
    <div class="card card-body mb-2">
        <h4>{{name}}</h4>
        <p>{{description}}</p>
        <form method="post" action="/personas/{{id}}?_method=DELETE">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" class="btn btn-danger btn-block" value="Delete">
        </form>
    </div>
{{else}}
    <p>Get thinking about imaginary people!</p>
{{/each}}